<card [show]="showCard">
    <div class="card-content">
        <div class="card-header" *ngIf="!isAnyChecked()">
            <span class="card-title">Education</span>

            <div class="action">
                <a class="waves-effect btn-flat" (click)="add()">
                    <i class="material-icons">add</i>
                </a>
                <a class="waves-effect btn-flat" *ngIf="isData() || removed.length" (click)="toggleEditMode()">
                    <i class="material-icons" [ngClass]="{success: editMode}">mode_edit</i>
                </a>
                <a class="waves-effect btn-flat" *ngIf="!(isData() || removed.length)" (click)="removeCard.emit(9)">
                    <i class="material-icons">clear</i>
                </a>
            </div>
        </div>
        <div class="card-header contextual-header" *ngIf="isAnyChecked()">
            <span class="card-title">{{countSelectedItems}} item(s) selected</span>

            <div class="action">
                <a class="waves-effect btn-flat" (click)="remove()">
                    <i class="material-icons">delete</i>
                </a>
            </div>
        </div>

        <div class="card-table">
            <form #contactEducationForm="ngForm">
                <table class="highlight" *ngIf="isData()">
                    <thead>
                    <tr>
                        <th style="width: 40px" *ngIf="editMode"></th>
                        <th style="width: 25%">
                            University
                        </th>
                        <th style="width: 20%">
                            Faculty
                        </th>
                        <th style="width: 20%;">
                            Speciality
                        </th>
                        <th style="width: 15%">
                            Start Date
                        </th>
                        <th style="width: 5%">
                            Graduation Year
                        </th>
                        <th style="width: 15%">
                            Type
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr [ngClass]="{'selected': education.selected}"
                        *ngFor="let education of contact.educations; let i = index">
                        <td style="width: 40px;" *ngIf="editMode">
                            <p>
                                <input type="checkbox"
                                       class="filled-in sm"
                                       [id]="'contact-education-select-' + i"
                                       [name]="'contactEducationSelect' + i"
                                       [checked]="education.selected"
                                       [(ngModel)]="education.selected">
                                <label [attr.for]="'contact-education-select-' + i"></label>
                            </p>
                        </td>
                        <td>
                            <div class="input-field">
                                <input class="validate"
                                       [id]="'contact-education-name-' + i"
                                       [name]="'contactEducationName' + i"
                                       type="text"
                                       [(ngModel)]="education.name"
                                       placeholder="University"
                                       required>
                                <label [attr.for]="'contact-education-name-' + i"
                                       data-error="This field is required."></label>
                            </div>
                        </td>
                        <td>
                            <div class="input-field">
                                <input class="validate"
                                       [id]="'contact-education-faculty-' + i"
                                       [name]="'contactEducationFaculty' + i"
                                       type="text"
                                       [(ngModel)]="education.faculty"
                                       placeholder="Faculty"
                                       required>
                                <label [attr.for]="'contact-education-faculty-' + i"
                                       data-error="This field is required."></label>
                            </div>
                        </td>
                        <td>
                            <div class="input-field">
                                <input class="validate"
                                       [id]="'contact-education-speciality-' + i"
                                       [name]="'contactEducationSpeciality' + i"
                                       type="text"
                                       [(ngModel)]="education.speciality"
                                       placeholder="Speciality"
                                       required>
                                <label [attr.for]="'contact-education-speciality-' + i"
                                       data-error="This field is required."></label>
                            </div>
                        </td>
                        <td>
                            <div class="input-field">
                                <input materialize="pickadate"
                                       [materializeParams]="[{selectMonths: true, selectYears: 100}]"
                                       class="datepicker"
                                       [id]="'contact-education-start-date-' + i"
                                       [name]="'contactEducationStartDate' + i"
                                       type="text"
                                       [ngModel]="education.startDate | date: 'd MMMM, y'"
                                       (ngModelChange)="changeStartDate(education, $event)"
                                       placeholder="Start Date"
                                       required>
                                <label [attr.for]="'contact-education-start-date-' + i">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="input-field">
                                <input class="validate"
                                       [id]="'contact-education-end-date-' + i"
                                       [name]="'contactEducationEndDate' + i"
                                       type="text"
                                       [(ngModel)]="education.endDate"
                                       placeholder="Year"
                                       required>
                                <label [attr.for]="'contact-education-end-date-' + i"
                                       data-error="This field is required."></label>
                            </div>
                        </td>
                        <td>
                            <select materialize="material_select"
                                    [name]="'contactEducationType' + i"
                                    [(ngModel)]="education.type"
                                    [materializeSelectOptions]="certificateTypes"
                                    required>
                                <option value="" disabled selected>Type</option>
                                <option *ngFor="let option of certificateTypes" [value]="option | optionPipe: 'id'">{{option | optionPipe: 'value'}}
                                </option>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>

    <div class="card-action" [@toggle]="any"
         *ngIf="contact.id && contactEducationForm.valid && (isAnyDirty(contactEducationForm) || removed.length)">
        <a (click)="save()">Save</a>
    </div>
</card>