.form-control.resize-none{
        resize: none;
}
tr.crm-closed-vacancy{
    color: #949494;
}

td.crm-opened-vacancy{
    color: #008db7;
}

td.crm-in-progress-vacancy{
    color: #178600;
}

.checkbox.crm-show-closed-vacancies-checkbox{
    margin-left: 20px;
    margin-top: 6px;
}
