<div class="container">
    <div class="row">
        <div class="col s12 m10 offset-m1">
            <card>
                <div class="card-content">
                    <div class="card-header" *ngIf="!isAnyChecked()">
                        <span class="card-title">Contacts</span>

                        <div class="action">
                            <search-input (searchUpdated)="searchContact($event)"></search-input>
                            <a class="waves-effect btn-flat"
                               (click)="add()">
                                <i class="material-icons">person_add</i>
                            </a>
                        </div>
                    </div>
                    <div class="card-header contextual-header" *ngIf="isAnyChecked()">
                        <span class="card-title">{{countSelectedItems}} item(s) selected</span>

                        <div class="action">
                            <a class="waves-effect btn-flat">
                                <i class="material-icons">description</i>
                            </a>
                            <a class="waves-effect btn-flat"
                               (click)="remove()">
                                <i class="material-icons">delete</i>
                            </a>
                        </div>
                    </div>

                    <div class="card-table">
                        <table class="highlight">
                            <thead>
                            <tr>
                                <th style="width: 3%" (click)="toggleAll()">
                                    <p>
                                        <input type="checkbox" class="filled-in sm" [checked]="isAllChecked()">
                                        <label></label>
                                    </p>
                                </th>
                                <th style="width: 30%" (click)="sortColumn('firstName')">
                                    Name
                                    <i class="material-icons" style="transform: rotate(-90deg); opacity: .6;"
                                       *ngIf="sortOptions && sortOptions.columnName != 'firstName'">code</i>
                                    <i class="material-icons"
                                       *ngIf="sortOptions && sortOptions.columnName == 'firstName' && !sortOptions.desc">arrow_downward</i>
                                    <i class="material-icons"
                                       *ngIf="sortOptions && sortOptions.columnName == 'firstName' && sortOptions.desc">arrow_upward</i>
                                </th>
                                <th style="width: 37%" (click)="sortColumn('emails')">
                                    Email
                                    <i class="material-icons" style="transform: rotate(-90deg); opacity: .6;"
                                       *ngIf="sortOptions && sortOptions.columnName != 'emails'">code</i>
                                    <i class="material-icons"
                                       *ngIf="sortOptions && sortOptions.columnName == 'emails' && !sortOptions.desc">arrow_downward</i>
                                    <i class="material-icons"
                                       *ngIf="sortOptions && sortOptions.columnName == 'emails' && sortOptions.desc">arrow_upward</i>
                                </th>
                                <th style="width: 30%" (click)="sortColumn('telephones')">
                                    Telephone
                                    <i class="material-icons" style="transform: rotate(-90deg); opacity: .6;"
                                       *ngIf="sortOptions && sortOptions.columnName != 'telephones'">code</i>
                                    <i class="material-icons"
                                       *ngIf="sortOptions && sortOptions.columnName == 'telephones' && !sortOptions.desc">arrow_downward</i>
                                    <i class="material-icons"
                                       *ngIf="sortOptions && sortOptions.columnName == 'telephones' && sortOptions.desc">arrow_upward</i>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let u of contacts" [ngClass]="{selected: u.selected}"
                                (click)="toggleSelection(u)" (dblclick)="edit(u)">
                                <td>
                                    <p class="custom-margin">
                                        <input type="checkbox" class="filled-in sm" [(ngModel)]="u.selected">
                                        <label></label>
                                    </p>
                                </td>
                                <td>
                                    {{u.firstName}} {{u.lastName}}
                                </td>
                                <td>
                                    <a class="write-email" href="mailto:{{u.emails[0]?.name}}">{{u.emails[0]?.name}}</a>
                                </td>
                                <td>
                                    {{u.telephones[0]?.number}}
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="table-footer">
                        <span>
                            1-{{totalResults < 20 ? totalResults : 20}} of {{totalResults}}
                        </span>

                            <ul class="pagination">
                                <li [ngClass]="{'disabled': currentPage === 1, 'waves-effect': currentPage != 1}"
                                    (click)="currentPage != 1 ? loadPage(currentPage - 1) : ''">
                                    <a><i class="material-icons">chevron_left</i></a>
                                </li>
                                <li [ngClass]="{active: currentPage === u}"
                                    *ngFor="let u of pages"
                                    (click)="loadPage(u)">
                                    <a>{{u}}</a>
                                </li>
                                <li [ngClass]="{'disabled': currentPage === countPage, 'waves-effect': true || currentPage != countPage}"
                                    (click)="currentPage != countPage ? loadPage(currentPage + 1) : ''">
                                    <a><i class="material-icons">chevron_right</i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="preloader-wrapper center-align" [ngClass]="{active: showSpinner}">
                    <div class="spinner-layer" [ngClass]="colorClass">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                    </div>
                </div>
            </card>
        </div>
    </div>
</div>
