.information > .modal-dialog {
    float: right;
    width: 350px;
    margin: 0;
}

.information .modal-title {
    line-height: initial;
}

.information {
    width: 350px;
    height: 120px;
    position: fixed;
    left: inherit;
    top: inherit;
    margin: 0;
}

.information p {
    margin: 0;
}

.information-header {
    padding: 5px;
    color: #efffff;
    background-color: #00baf2;
}

.information-body {
    padding-top: 10px;
    cursor: pointer;
}

.information small{
    float: right;
}

.information-text-comment {
    font-size: smaller;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
