.main-content {
  padding-right: 15px;
}

.window-header {
  height: 45px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  margin: 10px;
}

.window-dropdown-menu {
  float: right;
  cursor: pointer;
  font-size: 24px;
}

.window-title {
  float: left;
  font-weight: bold;
  font-size: 18px;
}

.panel-body {
  margin: 10px;
}