<div class="main-content">

    <gridster [options]="gridsterOptions" [draggableOptions]="gridsterDraggableOptions" #gridster>

       <!-- <gridster-item [(x)]="widgets[0].x" [(y)]="widgets[0].y" [w]="widgets[0].w" [h]="widgets[0].h" *ngIf="!widgets[0].hidden">
            <div class="panel-heading window-header">
                <span class="window-title">{{widgets[0].title}}</span>
                <div class="center"></div>
                <dropdown-settings class="window-dropdown-menu" [items]="widgets[0].dropdownMenuItems"
                                   itemId="0"></dropdown-settings>
            </div>
            <div class="panel-body">
            </div>
        </gridster-item>
        
        <gridster-item [(x)]="widgets[1].x" [(y)]="widgets[1].y" [w]="widgets[1].w" [h]="widgets[1].h" *ngIf="!widgets[1].hidden">
            <div class="panel-heading window-header">
                <span class="window-title">{{widgets[1].title}}</span>
                <dropdown-settings class="window-dropdown-menu" [items]="widgets[1].dropdownMenuItems"
                                   itemId="1"></dropdown-settings>
            </div>
            <div class="panel-body">

            </div>
        </gridster-item>
        
        <gridster-item [(x)]="widgets[2].x" [(y)]="widgets[2].y" [w]="widgets[2].w" [h]="widgets[2].h" *ngIf="!widgets[2].hidden">
            <div class="panel-heading window-header">
                <span class="window-title">{{widgets[2].title}}</span>
                <dropdown-settings class="window-dropdown-menu" [items]="widgets[2].dropdownMenuItems"
                                   itemId="2"></dropdown-settings>
            </div>
            <div class="panel-body">

            </div>
        </gridster-item>
        
        <gridster-item [(x)]="widgets[3].x" [(y)]="widgets[3].y" [w]="widgets[3].w" [h]="widgets[3].h" *ngIf="!widgets[3].hidden">
            <div class="panel-heading window-header">
                <span class="window-title">{{widgets[3].title}}</span>
                <dropdown-settings class="window-dropdown-menu" [items]="widgets[3].dropdownMenuItems"
                                   itemId="3"></dropdown-settings>
            </div>
            <div class="panel-body">

            </div>
        </gridster-item>
        -->

    </gridster>
</div>