.linkedin-search-button{
    font-size:13px;
    line-height: 13px;
    margin-top:5px;
    width: 125px;
}
.linkedin-button-disabled,  a.linkedin-button-disabled:hover,  a.linkedin-button-disabled:active {
    background-color: #e0e0e0 !important;
    border-color: #e0e0e0 !important;
}
.linkedInSearchForm{
    margin:5px 15px 5px 15px;
}
.linkedInAccountInputs{
    font-size: 14px;
    width: 157px;
    height: 30px;
}
.linkedin-login{
    margin-top: 32px;
    font-size: 30px;
}
.linkedin-login-success{
    color: limegreen;
}
.linkedin-login-error{
    color: orangered;
}
.linkedInSearchErrorMessage{
    font-size: 20px;
    color: red;
    margin-left: 15px;
}
#linkedInAccountAuthentificat{
    margin-top:30px;
    margin-bottom:5px;
    width: 120px;
    padding-right: 0px;
}
#linkedInLogindWrapp{
    margin-left:528px;
}
#linkedInPasswordWrapp{
    margin-right: 0px;
}
.linkedInAccountButtonPosition{
    margin-right:50px;
}
.linkedInAccountForm{
    margin: 10px 16px 0px 0px;
    display: inline-block;
    float: left;
}
.linkedin-account-button{
    margin-right:-4px;
}
.linkedin-account-button-switch{
    margin-right:-11px;
}
.point-separator{
    font-size:30px;
    line-height: 16px;
    padding-left: 4px;
}
.rounded-linkedin-contact-image{
    border-radius: 30px;
    width: 60px;
    height: auto;
}
.linkedin-result-item{
    border-bottom: 1px solid #e0e0e0;
    position: relative;
    overflow: visible;
    vertical-align:baseline;
    padding: 12px 0 8px 0;
    overflow: visible;
    font-size:12px;
    line-height:10px;
    font-family: Arial,sans-serif;
    .demographic{
        font-size:11px;
        line-height:14px;
        color: #a9a9a9;
    }
    .title{
        font-size:16px;
        color: #00BAF2;
    }

}
.snippet-value{
    margin-bottom: 2px;
}
.is-candidat-rejected{
    display: inline-block;
    margin-left: 10px;
    font-size: 25px;
    color: orangered;
}
.is-candidat-accepted{
    display: inline-block;
    margin-left: 10px;
    font-size: 25px;
    color: limegreen;
}
.linkedin-user-name{
    display: inline-block;
}
.linkedin-results{
    list-style-type: none;
    margin-left:0px;
    padding-left: 0px;
    :after {
        content: "";
        display: table;
        clear: both;
    }
    h3{
        margin-top:0px;
        margin-bottom:3px;
        line-height: 18px;
    }
}
#linkedin-search-button-wraper{
    margin-left:-15px;
}

#next-linkedin-search-button-wraper{
    margin-left:45px;
}
.linkedin-next-search-button{
    font-size:13px;
    line-height: 13px;
}
.reject_reason{
    font-size: 14px;
    margin-left: 10px;
    margin-top: 3px;
    width: 252px;
}
.opportunity-action-button{
    width: 75px;
    font-size:13px;
    line-height: 13px;
}
.action-button{
    display:inline-block;
    float:left;
}
.snippet{
    display:inline-flex;
    margin-left: -69px;
}
dl.snippets{
    margin-bottom: 0px;
}
.snippet-name{
    font-size: 12px;
    line-height: 14px;
    color: #333;
    font-weight: normal;
    line-height: 16px;
    float: left;
    min-width: 62px;
    text-align: right;
    margin-right: 5px;
    color: #a8a8a8;
}
.linkedt-result-item-data{
    width: 60%;
    float:left;

    b{
        display:inline-block;
    }
}
.demographic {
    margin-bottom: 15px;
    dd{
        display:inline-flex;
    }
    dt{
        display:none;
    }
}
.linkedin-result-image{
    float: left;
    margin-right: 10px;
}
#linkedi-search-form-location{
    width:100px;
}
#linkedi-search-form-key-words{
    width:370px;
}
.linkedin-search-form-input{
    width: 126px;
}
.linkedin-search-form-input-container{
    display: inline-block;
    float:left;
}
.linkedin-search-popup .modal-dialog {
    width: 1000px;
}
#linkedin-search-result-container{
    width:100% !important;
}
