<div class="skill">
    <div class="row">
        <div class="col s12" >
            <div class="card-header">
                <span class="card-title">{{title}}</span>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="chips chips-initial"
                         materialize="material_chip"
                         [materializeParams]="[skills]"
                         (chip.add)="addSkill($event.detail)"
                         (chip.delete)="deleteSkill($event.detail)"></div>
                </div>
            </div>
            <div class="error-div" *ngIf="!hasSkills()">
                <label class="action error-message">Skills required</label>
            </div>
        </div>
    </div>
</div>
