<crm-form-wrapper form-title="vm.title" submit-text="{{educationForm.$valid?'Ok':null}}" cancel-text="Cancel"
                  submit-btn="vm.ok()" cancel-btn="vm.cancel()" modal="true" ng-form="educationForm">
    <div class="form-group" crm-input-validation>
        <label for="universityName">University</label>
        <input ng-model="vm.education.name"
               id="universityName"
               name="university"
               class="form-control"
               type="text"
               required maxlength="255">
        <span ng-show="educationForm.university.$error.required"
              class="help-block">University name is required</span>
        <span ng-show="!educationForm.university.$error.required && educationForm.university.$dirty &&
              !educationForm.university.$valid" class="help-block">Education name format isn't correct</span>
    </div>
    <div class="form-group" crm-input-validation>
        <label for="faculty">Faculty</label>
        <input ng-model="vm.education.faculty"
               id="faculty"
               name="faculty"
               class="form-control"
               type="text"
               required maxlength="60">
        <span ng-show="educationForm.faculty.$error.required"
              class="help-block">Faculty is required</span>
        <span ng-show="!educationForm.faculty.$error.required && educationform.faculty.$dirty &&
              !educationForm.faculty.$valid" class="help-block">Faculty format isn't correct</span>
    </div>
    <div class="form-group" crm-input-validation>
        <label for="speciality">Speciality</label>
        <input ng-model="vm.education.speciality"
               id="speciality"
               name="speciality"
               class="form-control"
               type="text"
               required maxlength="255">
        <span ng-show="educationForm.speciality.$error.required"
              class="help-block">Speciality is required</span>
        <span ng-show="!educationForm.speciality.$error.required && educationform.speciality.$dirty &&
              !educationForm.speciality.$valid" class="help-block">Speciality format isn't correct</span>
    </div>
    <div class="form-group" crm-input-validation="">
        <label for="startDate">Start Date</label>
        <p class="input-group">
            <input ng-model="vm.education.startDate"
                   type="text"
                   id="startDate"
                   name="startDate"
                   class="form-control"
                   placeholder="Start date"
                   uib-datepicker-popup="yyyy-MM-dd"
                   is-open="vm.parentContext.isDatePickerVisible.educationStartDate"
                   datepicker-options="vm.parentContext.DatePickerOptions.educationStartDate"
                   ng-required="true"
                   close-text="Close"
                   alt-input-formats="altInputFormats"
                   readonly
                   required/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="vm.parentContext.showDatePicker(vm.parentContext,'educationStartDate')">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </p>
    </div>
    <div class="form-group" crm-input-validation>
        <label for="endDate">Graduation Year</label>
        <input ng-model="vm.education.endDate"
               id="endDate"
               name="endDate"
               class="form-control"
               type="number"
               pattern="(19|20)\d\d"
               required maxlength="4">
        <span ng-show="educationForm.endDate.$error.required"
              class="help-block">Graduation Year is required</span>
        <span ng-show="!educationForm.endDate.$error.required && educationform.endDate.$dirty &&
              !educationForm.endDate.$valid" class="help-block">Graduation Year format isn't correct</span>
    </div>
    <div class="form-group crm-select-validation-icon" crm-input-validation>
        <label for="diplomaType">Type</label>
        <select ng-model="vm.education.type"
                id="diplomaType"
                name="diplomaType"
                class="form-control"
                ng-options="option.name as option.value for option in vm.certificateTypes">
            <option value="">Please, select</option>
        </select>
    </div>
</crm-form-wrapper>
