<div class="row">
    <div class="col-md-11 col-centered">
        <div class="form-group" ng-if="vm.isCommentAllowed">
            <label for="opportunity_comment">Comment</label>
            <textarea id="opportunity_comment" class="form-control"
                      name="comment"
                      type="text"
                      ng-model="vm.comment" required></textarea>
        </div>
        <div class="form-group" ng-if="vm.isReasonAllowed">
            <label for="opportunity_reason">Reason</label>
            <textarea id="opportunity_reason" class="form-control"
                      name="reason"
                      ng-model="vm.reason" required></textarea>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="vm.accept()">
        Ok
    </button>
    <button type="button" class="btn btn-primary" ng-click="vm.cancel()">
        Cancel
    </button>
</div>
