<div ng-class="$ctrl.panelStyle">
    <div class="panel-heading">
        <div class="panel-heading-drag crm-chart-wrapper-panel-view" >
            <span class="panel-title" >{{$ctrl.panelTitle}}</span>
        </div>

        <span class="pull-right">
            <span ng-if="$ctrl.panelStyle != 'panel panel-danger' && $ctrl.dashName != 'student'" class="pull-right">
                <i ng-click="$ctrl.closeButton()" class="glyphicon glyphicon-remove pointer-cursor"></i>
            </span>
            <span ng-if="$ctrl.panelStyle != 'panel panel-success' && $ctrl.panelStyle != 'panel panel-info'" class="pull-right">
                <i ng-click="$ctrl.openButton()" class="glyphicon glyphicon-ok pointer-cursor"></i>
            </span>
        <span ng-if="!($ctrl.dashName != 'student')" class="pull-right">
            <div class="btn-group" uib-dropdown dropdown-append-to-body>
                    <span id="btn-append-to-body" class="glyphicon glyphicon-align-justify pointer-cursor" aria-hidden="true" uib-dropdown-toggle></span>
                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                        <li role="menuitem"><a ng-click="$ctrl.addButton()">Add student</a></li>
                        <li class="divider"></li>
                        <li role="menuitem"><a ng-click="$ctrl.closeButton()">Close</a></li>
                    </ul>
            </div>
        </span>
        </span>

    </div>
    <div class="panel-body">
        <div class="crm-chart-container" ng-transclude>
        </div>
    </div>
</div>
