<div class="page-header">
    <h4>Vacancies</h4>
</div>
<div class="row crm-bottom-buffer">
        <div class="col-md-5">
            <div class="form-group">
                <select
                    id="period-select"
                    class="form-control"
                    ng-model="vm.selectedDisplayPeriod"
                    ng-options="option as option.desc for option in vm.displayedPeriods track by option.index"
                    ng-change="vm.displayedPeriodChanged(vm.selectedDisplayPeriod)">
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <label for="show-closed-checkbox" class="checkbox crm-show-closed-vacancies-checkbox">
                <input type="checkbox"
                       id="show-closed-checkbox"
                       ng-model="vm.searchVacancyBundle.isShowClosed"
                       ng-click="vm.searchVacancyBundle.showClosed(vm.searchVacancyBundle.isShowClosed)">
                Show closed vacancies
            </label>
        </div>
        <div class="col-sm-4" ng-hide="vm.isTutor()">
            <div class="pull-right">
                <a class="btn btn-default crm-margined" ng-click="vm.add()">
                    Add
                </a>
                <a class="btn btn-danger crm-margined" ng-click="vm.remove()">
                    Remove
                </a>
                <a class="btn btn-default crm-margined" ng-click="vm.generateReport()">
                    Generate CSV
                </a>
            </div>
        </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed crm-table-fixed">
            <thead>
            <tr>
                <th class="crm-narrow"><input ng-hide="vm.searchVacancyBundle.itemsList.length === 0" type="checkbox"></th>
                <th class="crm-hover col-sm-4 col-xs-6">
                    Position
                </th>
                <th class="crm-hover col-sm-2 col-xs-3">
                    Date opened
                </th>
                <th class="crm-hover col-sm-2 hidden-xs">
                    Created by
                </th>
                <th class="crm-hover col-sm-2 hidden-xs">
                    Assigned to
                </th>
                <th class="crm-hover col-sm-2 col-xs-3">
                    Status
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-class="{'crm-closed-vacancy' : vacancy.status == 'closed'}"
                class="crm-hover"
                ng-click="vm.edit(vacancy)"
                ng-repeat="vacancy in vm.searchVacancyBundle.itemsList">
                <td><input type="checkbox"
                           ng-model="vacancy.checked"
                           ng-click="vm.searchVacancyBundle.selectOne();$event.stopPropagation()"></td>
                <td>{{vacancy.positionName}}</td>
                <td>{{vacancy.openDate | date : 'yyyy-MM-dd'}}</td>
                <td class="hidden-xs">{{vacancy.creator.firstName + ' ' + vacancy.creator.lastName}}</td>
                <td class="hidden-xs">{{vacancy.hr.firstName + ' ' + vacancy.hr.lastName}}</td>
                <td ng-class="{'crm-opened-vacancy' : vacancy.status == 'opened', 'crm-in-progress-vacancy' : vacancy.status == 'in progress'}">
                    {{vacancy.status}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="crm-text-center">
    <uib-pagination class="pagination-sm" ng-change="vm.searchVacancyBundle.paging.onPageChanged()"
                    ng-model="vm.searchVacancyBundle.paging.currentPage"
                    total-items="vm.searchVacancyBundle.paging.totalCount"
                    items-per-page="vm.searchVacancyBundle.paging.itemsPerPage"
                    max-size="vm.searchVacancyBundle.paging.visiblePages"
                    boundary-link-numbers="true" rotate="false">
    </uib-pagination>
</div>
