.material-tooltip {
  display: block !important;

  .backdrop {
    display: block !important;
  }
}

.picker__date-display {
  display: none;
}

.picker__day--infocus {
  padding: .6rem 0 !important;
}