<div class="users-grid" [@mode]="'table'">
    <div class="card-container width-950px">
        <div class="material-table" [ngClass]="colorClass">
            <div class="table-header" *ngIf="!isAnyChecked()">
                <span class="table-title">Users</span>
                <div class="actions">
                    <div class="input-field col s6">
                        <i class="material-icons prefix" (click)="toggleInput()">search</i>
                        <input #search type="text" placeholder="Search..." [ngClass]="{compress: hideSearchInput}"
                               [(ngModel)]="userFilter.text" (ngModelChange)="applyTextFilter()">
                    </div>
                    <a class="modal-trigger waves-effect btn-flat nopadding" (click)="toggleFilter()">
                        <i class="material-icons" [ngClass]="{success: showFilter}">filter_list</i>
                    </a>
                </div>
            </div>

            <div class="table-header-action" *ngIf="isAnyChecked()">
                <span class="table-title">{{countSelectedItems}} item(s) selected</span>
                <div class="actions">
                    <a class="modal-trigger waves-effect btn-flat nopadding" (click)="activateSelectedUsers()">
                        <i class="material-icons">check</i>
                    </a>
                    <a class="modal-trigger waves-effect btn-flat nopadding" (click)="deactivateSelectedUsers()">
                        <i class="material-icons">close</i>
                    </a>
                </div>
            </div>

            <div class="table-filter" *ngIf="showFilter" [@enterFilterAnimation]="showFilter">
                <div class="row">
                    <div class="input-field col s5">
                        <select multiple materialize="material_select" [(ngModel)]="userFilter.groupId" (ngModelChange)="find()" [materializeSelectOptions]="groups">
                            <option value="" disabled selected>Group</option>
                            <option *ngFor="let option of groups" [value]="option.id">{{option.name}}</option>
                        </select>
                        <label></label>
                    </div>
                    <div class="input-field col s5">
                        <select multiple materialize="material_select" [(ngModel)]="userFilter.roleId" (ngModelChange)="find()" [materializeSelectOptions]="roles">
                            <option value="" disabled selected>Role</option>
                            <option *ngFor="let option of roles" [value]="option.id">{{option.name}}</option>
                        </select>
                        <label></label>
                    </div>
                    <div class="input-field col s2">
                        <select materialize="material_select" [(ngModel)]="userFilter.active" (ngModelChange)="find()" [materializeSelectOptions]="[selectActiveOptions]">
                            <option *ngFor="let option of selectActiveOptions" [value]="option.value">{{option.name}}</option>
                        </select>
                        <label></label>
                    </div>
                </div>
            </div>

            <table class="highlight">
                <thead>
                <tr>
                    <th style="..." class="custom-margin">
                        <p (click)="toggleAll()">
                            <input type="checkbox" class="filled-in" [checked]="isAllChecked()">
                            <label></label>
                        </p>
                    </th>
                    <th style="width: 36%" (click)="sortColumn('userName')">
                        Username
                        <i class="material-icons" style="transform: rotate(-90deg); opacity: .6;"
                           *ngIf="userFilter.sortProperty != 'userName'">code</i>
                        <i class="material-icons"
                           *ngIf="userFilter.sortProperty == 'userName' && userFilter.sortAsc">arrow_downward</i>
                        <i class="material-icons"
                           *ngIf="userFilter.sortProperty == 'userName' && !userFilter.sortAsc">arrow_upward</i>

                    </th>
                    <th style="width: 29%" (click)="sortColumn('firstName')">
                        Full Name
                        <i class="material-icons" style="transform: rotate(-90deg); opacity: .6;"
                           *ngIf="userFilter.sortProperty != 'firstName'">code</i>
                        <i class="material-icons"
                           *ngIf="userFilter.sortProperty == 'firstName' && userFilter.sortAsc">arrow_downward</i>
                        <i class="material-icons"
                           *ngIf="userFilter.sortProperty == 'firstName' && !userFilter.sortAsc">arrow_upward</i>
                    </th>
                    <th style="width: 29%" (click)="sortColumn('email')">
                        Email
                        <i class="material-icons" style="transform: rotate(-90deg); opacity: .6;"
                           *ngIf="userFilter.sortProperty != 'email'">code</i>
                        <i class="material-icons"
                           *ngIf="userFilter.sortProperty == 'email' && userFilter.sortAsc">arrow_downward</i>
                        <i class="material-icons"
                           *ngIf="userFilter.sortProperty == 'email' && !userFilter.sortAsc">arrow_upward</i>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let u of users" [ngClass]="{selected: u.selected}"
                    (click)="toggleSelection(u)" (dblclick)="editUser(u)">
                    <td>
                        <p class="custom-margin">
                            <input type="checkbox" class="filled-in" [(ngModel)]="u.selected">
                            <label></label>
                        </p>
                    </td>
                    <td>{{u.userName}}</td>
                    <td>{{u.firstName}} {{u.lastName}}</td>
                    <td>{{u.email}}</td>
                </tr>
                </tbody>
            </table>

            <div class="table-footer">
                <span>
                    {{userFilter.from + 1}} - {{(userFilter.from + COUNT_USER) > totalCount ? totalCount : userFilter.from + COUNT_USER}} of {{totalCount}}
                </span>

                <ul class="pagination">
                    <li [ngClass]="{'disabled': currentPage === 1, 'waves-effect': currentPage != 1}">
                        <a (click)="currentPage != 1 ? changePage(currentPage - 1) : ''"><i class="material-icons">chevron_left</i></a>
                    </li>
                    <li *ngFor="let index of pageIndexes" [ngClass]="{active: currentPage === index}">
                        <a (click)="changePage(index)">{{index}}</a>
                    </li>
                    <li [ngClass]="{'disabled': currentPage === countPage, 'waves-effect': currentPage != countPage}">
                        <a (click)="currentPage != countPage ? changePage(currentPage + 1) : ''">
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>