.card-header {
  display: inline-flex;
  margin-top: 0;
  justify-content: flex-end;
}

.input-field {
  display: inline-flex;
  margin-top: 0;

  input {
    margin-left: 5px;
    margin-bottom: 0;
    padding-left: 20px;
    height: 30px;
    border-bottom: 1px solid #CFD8DC;

    &:active, &:focus {
      border-bottom: 1px solid #0277BD;
      box-shadow: 0 1px 0 0 #0277BD;
    }

  }

  i {
    font-size: 1.3rem;
    line-height: inherit;
    margin-top: 5px;
    cursor: pointer;
  }
}

.action {
  a {
    i {
      margin-top: 3px;
    }
  }
}
