@import "../../../public/css/color";

:host {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1010;
  height: 44px;
}

.navigation-component {
  @each $c in map-keys($colors) {
    &.#{$c} {
      .navbar .nav li a {
        &:hover,
        &:focus,
        &.active {
          color: map-deep-get($colors, #{$c}, 900);
        }

        &:hover {
          color: map-deep-get($colors, #{$c}, 700);
          background-color: white;
        }
      }
    }

    &.#{$c}.inverse {
      .navbar {
        background-color: map-deep-get($colors, #{$c}, 700);
        box-shadow: none;

        .nav li a {
          color: #fff;

          &:hover,
          &:focus,
          &.active {
            background-color: map-deep-get($colors, #{$c}, 800);
            color: map-deep-get($colors, #{$c}, 50);
          }
        }
      }
    }
  }

  .navbar {
    height: 44px;
    background-color: #fff;
    font-size: 13px;
    padding: 0;
    border-radius: 0;

    .nav {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li a {
        display: inline-block;
        float: left;
        line-height: 44px;
        font-size: 13px;
        padding: 0 10px;
        color: #37474F;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;

        &:hover,
        &:focus,
        &.active {
          color: #01579B;
        }

        &:hover {
          color: #0288d1;
          background-color: white;
        }
      }
    }
  }

  .profile-picture-container {
    float: right;
    cursor: pointer;
    line-height: 0;

    img {
      height: 33px;
      margin-top: 5px;
      border-radius: 50%;
    }
  }
}