@import "../../../../public/css/color";

@function remy($value) {
  @return ($value / 16px) * 1rem;
}

:host {
  display: block;
}

.card /deep/ {
  .card-content {
    padding: 0;

    .card-header {
      height: 64px;
      display: flex;
      padding: 20px;

      .card-title {
        font-size: 20px;
        font-weight: normal;
        line-height: 24px;
      }

      .action {
        margin-top: -5px;
        margin-left: auto;

        .btn-flat {
          padding: 0 .5rem;
          color: map-deep-get($colors, blue-grey, 700);

          i.material-icons {
            &.success {
              color: map-deep-get($colors, green, 500);
            }
            &.danger {
              color: map-deep-get($colors, red, 500);
            }
          }
        }
      }
    }

    .card-header.contextual-header {
      background-color: map-deep-get($colors, light-blue, 800);

      .card-title {
        color: #ffffff;
      }

      .action a {
        color: white !important;
      }
    }

    .card-filter {
      margin: 0 20px;

      .row {
        margin-bottom: 5px;
      }
    }

    .card-body {
      padding: 0 20px 20px;
    }

    .card-table {
      table {
        thead tr {
          border-bottom: 1px solid map-deep-get($colors, grey, 300);
        }

        tr {
          th {
            font-size: 12px;
            font-weight: 500;
            padding: 6px 0 6px 24px;
            height: 56px;
            cursor: pointer;

            i {
              font-size: 12px;
              margin-top: 3px;
              float: right;
            }
          }

          td {
            font-size: 13px;
            padding: 6px 0 6px 24px;
            cursor: pointer;
          }

          td:first-child, th:first-child {
            p {
              width: 6px;
              -webkit-margin-before: 0;
              -webkit-margin-after: 0;
            }
          }

          td:last-child, th:last-child {
            padding-right: 24px;
          }

          &.selected {
            background-color: map-deep-get($colors, light-blue, 50);
          }
        }
      }

      .table-footer {
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        text-align: center;
        font-size: 12px;
        color: rgba(0, 0, 0, .54);
        border-top: 1px solid #e0e0e0;

        ul.pagination {
          -webkit-padding-start: 10px;
          -webkit-padding-end: 10px;

          li {
            height: 24px;

            a {
              display: inline-flex;
              line-height: 24px;
              font-size: 13px;
              padding: 0 8px;
            }

            i {
              font-size: 24px;
            }

            &.active {
              background-color: #01579b;
            }
          }
        }
      }
    }
  }

  .card-action {
    a:not(.btn):not(.btn-large):not(.btn-floating) {
      margin-right: 0;
      color: map-deep-get($colors, grey, 800);
      cursor: pointer;
    }
  }

  .preloader-wrapper {
    .spinner-layer {
      background-color: transparent !important;
      border-color: map-deep-get($colors, light-blue, 600);
    }

    &.center-align {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -24px;
      margin-left: -24px;
    }
  }
}

.card /deep/ {
  .input-field {
    input {
      font-size: remy(13px);
      height: 2rem;
    }

    textarea {
      font-size: 13px;
      padding: 0;
    }

    label {
      font-size: remy(13px);
    }

    [type="text"] + label {
      top: 0.5rem;

      &.active {
        font-size: remy(12px);
      }

      &:after {
        top: 47px;
      }
    }
  }
}