<card [show]="showCard">
    <div class="card-content">
        <div class="card-header" *ngIf="!isAnyChecked()">
            <span class="card-title">Messengers</span>

            <div class="action">
                <a class="waves-effect btn-flat" (click)="add()">
                    <i class="material-icons">add</i>
                </a>
                <a class="waves-effect btn-flat" *ngIf="isData() || removed.length" (click)="toggleEditMode()">
                    <i class="material-icons" [ngClass]="{success: editMode}">mode_edit</i>
                </a>
                <a class="waves-effect btn-flat" *ngIf="!(isData() || removed.length)" (click)="removeCard.emit(5)">
                    <i class="material-icons">clear</i>
                </a>
            </div>
        </div>
        <div class="card-header contextual-header" *ngIf="isAnyChecked()">
            <span class="card-title">{{countSelectedItems}} item(s) selected</span>

            <div class="action">
                <a class="waves-effect btn-flat" (click)="remove()">
                    <i class="material-icons">delete</i>
                </a>
            </div>
        </div>

        <div class="card-table">
            <form #contactMessengerForm="ngForm">
                <table class="highlight" *ngIf="isData()">
                    <tbody>
                    <tr [ngClass]="{'selected': messenger.selected}"
                        *ngFor="let messenger of contact.messengers; let i = index">
                        <td style="width: 40px;" *ngIf="editMode">
                            <p>
                                <input type="checkbox"
                                       class="filled-in sm"
                                       [id]="'contact-messenger-select-' + i"
                                       [name]="'contactMessengerSelect' + i"
                                       [checked]="messenger.selected"
                                       [(ngModel)]="messenger.selected">
                                <label [attr.for]="'contact-messenger-select-' + i"></label>
                            </p>
                        </td>
                        <td>
                            <div class="input-field">
                                <input class="validate"
                                       [id]="'contact-username-' + i"
                                       [name]="'contactMessenger' + i"
                                       type="text"
                                       [(ngModel)]="messenger.username"
                                       placeholder="Username"
                                       required>
                                <label [attr.for]="'contact-username-' + i"
                                       data-error="This field is required."></label>
                            </div>
                        </td>
                        <td style="width: 35%;">
                            <select materialize="material_select"
                                    [name]="'contactMessengerType' + i"
                                    [(ngModel)]="messenger.messenger"
                                    [materializeSelectOptions]="messengerTypes"
                                    required>
                                <option value="" disabled selected>Type</option>
                                <option *ngFor="let option of messengerTypes" [value]="option | optionPipe: 'id'">{{option | optionPipe: 'value'}}
                                </option>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>

    <div class="card-action" [@toggle]="any"
         *ngIf="contact.id && contactMessengerForm.valid && (isAnyDirty(contactMessengerForm) || removed.length)">
        <a (click)="save()">Save</a>
    </div>
</card>