<div class="row">
    <div class="col-md-2">
        <a ng-show="OpportunityWidget.vacancy.id" class="btn btn-primary ng-binding" ng-click="OpportunityWidget.searchInLinkedIn()">
            Search In LinkedIn
        </a>
    </div>
    <div class="col-md-2">
        <a ng-show="OpportunityWidget.vacancy.id" class="btn btn-primary ng-binding" ng-click="OpportunityWidget.uploadCVDialog()">
            Upload CV
        </a>
    </div>
    <div class="col-md-4">
        <select ng-model="OpportunityWidget.opportunitiesStatus"
                ng-options="x.name for x in OpportunityWidget.opportunitiesActionStatus track by x.id"
                ng-init="OpportunityWidget.opportunitiesActionStatus.name"
                ng-change="OpportunityWidget.reloadOpportunities()"
                class="form-control" name="location">
        </select>
    </div>
</div>

<!-- Recruitment Opportunities -->
<div class="row linkedInSearchForm">
    <div class="col-md-12">
        <ul class="linkedin-results">
            <li class="linkedin-result-item" ng-repeat="opportunity in OpportunityWidget.searchOpportunityBundle.itemsList" ng-click="OpportunityWidget.openContact(opportunity.contactId)">
                <div class="linkedin-result-image" ng-click="$event.stopPropagation()" >
                    <img ng-click="OpportunityWidget.openLinkedInProfile(opportunity.profileUri)" ng-src="{{opportunity.imageUri ? opportunity.imageUri : 'https://static.licdn.com/scds/common/u/images/themes/katy/ghosts/person/ghost_person_100x100_v1.png'}}"
                         class="opportunity-image-rounded"/>
                </div>
                <div class="opportunity-result-item-data">
                    <div>
                        <h3 class="linkedin-user-name title">
                            {{opportunity.fullName}}
                        </h3>
                        <span class="contact-was-added" ng-if="opportunity.contactWasCreated">New</span>
                    </div>
                    <div class="description" ng-bind-html="opportunity.position"></div>
                    <dl class="demographic">
                        <dt>Location</dt>
                        <dd class="separator">
                            <bdi dir="ltr">{{opportunity.location}}</bdi><div class="point-separator">&middot;</div>
                        </dd>
                        <dt>Industry</dt>
                        <dd class="secondary-dd">{{opportunity.industry}}</dd>
                    </dl>
                    <div class="related-wrapper collapsed">
                        <ul class="related-line"></ul>
                    </div>
                    <dl class="snippets">
                        <div ng-repeat="snippet in opportunity.snippets">
                            <div class="snippet">
                                <dt class="snippet-name">{{snippet.fieldName + ":"}}</dt>
                                <dd class="snippet-data">
                                    <p ng-if="snippet.heading" ng-bind-html="snippet.heading"></p>
                                    <p ng-if="snippet.body" ng-bind-html="snippet.body"></p>
                                </dd>
                            </div>
                        </div>
                    </dl>
                </div>
                <div class="opportunity-status-container" ng-click="$event.stopPropagation();">
                    <span class="opportunity-status">
                            Status: {{OpportunityWidget.getOpportunityStatusById(opportunity.status).name}}
                    </span>
                    <div ng-if="opportunity.currentReason" class="opportunity-status-attr">Reason:</div>
                    <div class="opportunity-status-attr">
                        {{opportunity.currentReason}}
                    </div>
                    <div ng-if="opportunity.currentComment" class="opportunity-status-attr">Comment:</div>
                    <div class="opportunity-status-attr">
                        {{opportunity.currentComment}}
                    </div>
                </div>
                <div class="opportunity-actions-container" ng-click="$event.stopPropagation();">
                    <div class="opportunity-actions" ng-init="statuses = OpportunityWidget.getActiveOpportunityStatuses(opportunity.status)">
                        <div class="form-group" ng-click="OpportunityWidget.actionOpportunity(opportunity,status)" ng-repeat="status in statuses">
                            <a class="btn btn-primary" ng-class="'opportunity_status_' + status.id">
                                {{status.name}}
                            </a>
                        </div>
                    </div>
                    <div class="linkedin-actions">
                        <div class="form-group" ng-click="OpportunityWidget.openLinkedInProfile(opportunity.profileUri)">
                            <a class="btn btn-primary ">
                                Open in LinkedIn
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- End of Results of search -->

<div class="crm-text-center">
    <uib-pagination class="pagination-sm" ng-change="OpportunityWidget.searchOpportunityBundle.paging.onPageChanged()"
                    ng-model="OpportunityWidget.searchOpportunityBundle.paging.currentPage"
                    total-items="OpportunityWidget.searchOpportunityBundle.paging.totalCount"
                    items-per-page="OpportunityWidget.searchOpportunityBundle.paging.itemsPerPage"
                    max-size="OpportunityWidget.searchOpportunityBundle.paging.visiblePages"
                    boundary-link-numbers="true" rotate="false">
    </uib-pagination>
</div>
