<div class="candidat-details">
    <div class="candidat-main-info">
        <div class="candidat-name">{{vm.opportunity.fullName}}</div>
        <div class="candidat-industry">{{vm.opportunity.contact.industry}}</div>
        <div class="candidat-address" ng-if="vm.opportunity.contact.addresses[0]">{{vm.opportunity.contact.addresses[0].region}}</div>
    </div>
    <div class="candidat-image">
        <img ng-src="{{vm.opportunity.contact.photoUrl}}" class="rounded-candidat-image"/>
    </div>
</div>

<!-- Footer -->
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="vm.cancel()">
        Cancel
    </button>
</div>
