.crm-contact-comment {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 14px;
    margin-top: 5px;
    display: inline-block;
    background-color: #f9f6f2;
    margin-right: 1%;
    margin-left: 1%;
}

.crm-contact-comment-header {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}

.row.crm-contact-comments-list {
    margin-top: 15px;
    padding: 0;
    list-style: none;
}

.row.crm-contact-comments-list li {
    margin-bottom: 25px;
}

.crm-contact-comment-remove {
    color: darkred;
    font-size: 12px;
    margin-left: 10px;
    cursor: pointer;
    opacity: 0.5;
}

.crm-contact-comment-remove:hover {
    opacity: 1;
}

.crm-contact-comment-icon {
    font-size: 12px;
    margin-left: 10px;
    cursor: pointer;
    opacity: 0.5;
}

.crm-contact-comment-icon:hover {
    opacity: 1;
}
