<div class="panel panel-default" ng-if="vm.canEdit || (!vm.canEdit && vm.contact.comments.length>0)">
    <div class="panel-heading">
        <crm-contact-table-header title="Comments"
                                  adding-function="vm.details.comment.add"
                                  removing-function="vm.details.comment.remove"
                                  vm="vm"></crm-contact-table-header>
    </div>

    <table class="table table-condensed crm-table-fixed" ng-show="vm.contact.comments.length>0">
        <thead>
        <tr>
            <th class="crm-narrow"><input type="checkbox"
                                          ng-show="vm.canEdit"
                                          title="select Comments"
                                          ng-click="vm.details.checkAll(vm.contact.comments, vm.contact.comments.isSelectedAll)"
                                          ng-model="vm.contact.comments.isSelectedAll"></th>
            </th>
            <th class="col-md-2 col-sm-4 col-xs-4">By</th>
            <th class="col-md-1 col-sm-2 col-xs-2">Date</th>
            <th class="hidden-md hidden-sm hidden-xs">Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="comment in vm.contact.comments"
            ng-hide="comment.deleted"
            ng-click="vm.details.comment.edit(comment)"
            class="crm-hover">
            <td>
                <input type="checkbox"
                       ng-model="comment.checked"
                       ng-show="vm.canEdit"
                       title="select Comment"
                       ng-click="vm.details.isAllSelected(vm.contact.comments); $event.stopPropagation()"
                       ng-init="vm.details.isAllSelected(vm.contact.comments)">
            </td>
            <td class="crm-table-fixed">
                <span>{{comment.author}}</span>
            </td>
            <td class="hidden-xs">{{comment.date | date:'yyyy-MM-dd'}}</td>
            <td class="hidden-sm hidden-xs">{{comment.text}}</td>
        </tr>
        </tbody>
    </table>

</div>
