<div class="card-table">
    <table class="highlight">
        <thead>
        <tr>
            <th style="..." class="custom-margin">
                <p (click)="toggleAll()">
                    <input type="checkbox" class="filled-in sm" [checked]="isAllChecked()">
                    <label></label>
                </p>
            </th>
            <th *ngFor="let column of gridOptions.columns" (click)="sortColumn(column)"
                [ngStyle]="{width: column.width}">
                {{column.name}}
                <i class="material-icons" style="transform: rotate(-90deg); opacity: .6;"
                   *ngIf="column.sortable && filter.sortProperty != column.sortPropertyName">code</i>
                <i class="material-icons"
                   *ngIf="column.sortable && filter.sortProperty == column.sortPropertyName && filter.sortAsc">arrow_downward</i>
                <i class="material-icons"
                   *ngIf="column.sortable && filter.sortProperty == column.sortPropertyName && !filter.sortAsc">arrow_upward</i>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let e of entities" [ngClass]="{selected: e.selected}"
            (click)="toggleSelection(e)" (dblclick)="gridOptions.doubleClickFunction(e)">
            <td>
                <p class="custom-margin">
                    <input type="checkbox" class="filled-in sm" [(ngModel)]="e.selected">
                    <label></label>
                </p>
            </td>
            <td *ngFor="let column of gridOptions.columns">{{e[column.propertyName]}}</td>
        </tr>
        </tbody>
    </table>

    <div class="table-footer">
        <span *ngIf="entities.length > 0">
            {{filter.from + 1}} - {{(filter.from + COUNT) > totalCount ? totalCount : filter.from + COUNT}} of {{totalCount}}
        </span>

        <ul class="pagination">
            <li [ngClass]="{'disabled': currentPage === 1, 'waves-effect': currentPage != 1}">
                <a (click)="currentPage != 1 ? changePage(currentPage - 1) : ''"><i
                        class="material-icons">chevron_left</i></a>
            </li>
            <li *ngFor="let index of pageIndexes" [ngClass]="{active: currentPage === index}">
                <a (click)="changePage(index)">{{index}}</a>
            </li>
            <li [ngClass]="{'disabled': currentPage === countPage, 'waves-effect': currentPage != countPage}">
                <a (click)="currentPage != countPage ? changePage(currentPage + 1) : ''">
                    <i class="material-icons">chevron_right</i>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="preloader-wrapper center-align" [ngClass]="{active: showSpinner}">
    <div class="spinner-layer">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div><div class="gap-patch">
        <div class="circle"></div>
    </div><div class="circle-clipper right">
        <div class="circle"></div>
    </div>
    </div>
</div>