<div class="card-header" *ngIf="!isAnyChecked()">
    <span class="card-title">{{gridHeaderOptions.title}}</span>
    <div class="action">
        <div class="input-field" *ngIf="gridHeaderOptions.showTextSearch">
            <i class="material-icons prefix" (click)="toggleInput()">search</i>
            <input #searchInput type="text" (input)="search(searchInput.value)" placeholder="Search..."
                   [@state]="state">
        </div>
        <a class="waves-effect btn-flat" *ngFor="let action of filterActions(false)" (click)="action.action($event)">
            <i class="material-icons">{{action.iconName}}</i>
        </a>
    </div>
</div>
<div class="card-header contextual-header" *ngIf="isAnyChecked()">
    <span class="card-title">{{countSelectedItems}} item(s) selected</span>
    <div class="action">
        <a class="waves-effect btn-flat" *ngFor="let action of filterActions(true)" (click)="action.action($event)">
            <i class="material-icons">{{action.iconName}}</i>
        </a>
    </div>
</div>

