.checkbox.crm-checkbox-large{
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-left: 20px;
}
.crm-badge.btn.btn-info.btn-xs.crm-skill-required{
    border-color: #000080;
    background-color: #000080;
}

.crm-badge.btn.btn-info.btn-xs.crm-skill-not-required{
    border-color: #8080ff;
    background-color: #8080ff;
}

.panel-body .crm-skill-container{
    display: block;
    padding: 0;
    margin: 0;
}
