<card [show]="showCard">
    <div class="card-content">
        <div class="card-header" *ngIf="!isAnyChecked()">
            <span class="card-title">Emails</span>

            <div class="action">
                <a class="waves-effect btn-flat" (click)="add()">
                    <i class="material-icons">add</i>
                </a>
                <a class="waves-effect btn-flat" *ngIf="isData() || removed.length" (click)="toggleEditMode()">
                    <i class="material-icons" [ngClass]="{success: editMode}">mode_edit</i>
                </a>
                <a class="waves-effect btn-flat" *ngIf="!(isData() || removed.length)" (click)="removeCard.emit(3)">
                    <i class="material-icons">clear</i>
                </a>
            </div>
        </div>
        <div class="card-header contextual-header" *ngIf="isAnyChecked()">
            <span class="card-title">{{countSelectedItems}} item(s) selected</span>

            <div class="action">
                <a class="waves-effect btn-flat" (click)="remove()">
                    <i class="material-icons">delete</i>
                </a>
            </div>
        </div>

        <div class="card-table">
            <form #contactEmailForm="ngForm">
                <table class="highlight" *ngIf="isData()">
                    <tbody>
                    <tr [ngClass]="{'selected': email.selected}"
                        *ngFor="let email of contact.emails; let i = index">
                        <td style="width: 40px;" *ngIf="editMode">
                            <p>
                                <input type="checkbox"
                                       class="filled-in sm"
                                       [id]="'contact-email-select-' + i"
                                       [name]="'contactEmailSelect' + i"
                                       [checked]="email.selected"
                                       [(ngModel)]="email.selected">
                                <label [attr.for]="'contact-email-select-' + i"></label>
                            </p>
                        </td>
                        <td>
                            <div class="input-field">
                                <input class="validate"
                                       [id]="'contact-email-' + i"
                                       [name]="'contactEmail' + i"
                                       type="text"
                                       [(ngModel)]="email.name"
                                       placeholder="Email"
                                       required>
                                <label [attr.for]="'contact-email-' + i"
                                       data-error="This field is required."></label>
                            </div>
                        </td>
                        <td style="width: 35%;">
                            <select materialize="material_select"
                                    [name]="'contactEmailType' + i"
                                    [(ngModel)]="email.type"
                                    [materializeSelectOptions]="emailTypes"
                                    required>
                                <option value="" disabled selected>Email Type</option>
                                <option *ngFor="let option of emailTypes" [value]="option | optionPipe: 'id'">{{option | optionPipe: 'value'}}
                                </option>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>

    <div class="card-action" [@toggle]="any"
         *ngIf="contact.id && contactEmailForm.valid && (isAnyDirty(contactEmailForm) || removed.length)">
        <a (click)="save()">Save</a>
    </div>
</card>