<div class="row">
    <div class="col s12">
        <div class="card z-depth-1">
            <div class="card-content general-info">
                <div class="card-header">
                    <span class="card-title">General Info</span>
                </div>
                <form materialize #vacancyForm="ngForm">
                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <input class="validate input-height crm-font-size"
                                       id="vacancy-position-name"
                                       type="text"
                                       name="positionName"
                                       [(ngModel)]="vacancy && vacancy.positionName"
                                       #positionName="ngModel"
                                       maxlength="100"
                                       autocomplete="off"
                                       required>
                                <label for="vacancy-position-name" data-error="Wrong">
                                    Position:
                                </label>
                            </div>
                            <div *ngIf="positionName.errors?.required && (positionName.dirty || positionName.touched)"
                                 class="error-div">
                                <label class="action">Position required</label>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="input-field">
                                <input class="validate input-height crm-font-size"
                                       id="vacancy-name"
                                       type="text"
                                       name="name"
                                       [(ngModel)]="vacancy && vacancy.name"
                                       #name="ngModel"
                                       maxlength="100"
                                       autocomplete="off"
                                       required>
                                <label for="vacancy-name">Vacancy name:</label>
                            </div>
                            <div *ngIf="name.errors?.required && (name.dirty || name.touched)" class="error-div"
                                 class="error-div">
                                <label class="active">Vacancy name required</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                            <textarea class="validate materialize-textarea"
                                      id="responsibilities"
                                      name="responsibilities"
                                      [(ngModel)]="vacancy && vacancy.responsibilities"
                                      #responsibilities="ngModel"
                                      maxlength="500"
                                      required>
                            </textarea>
                                <label for="responsibilities">Responsibilities:</label>
                            </div>
                            <div *ngIf="responsibilities.errors?.required && (responsibilities.dirty || responsibilities.touched)"
                                 class="error-div">
                                <label class="active">Responsibilities name required</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6" *ngIf="vacancy">
                            <vacancy-skill [skills]="vacancy && vacancy.skills"
                                           [vacancy]="vacancy"
                                           title="Required Skills"
                                           [isRequired]="true">
                            </vacancy-skill>
                        </div>
                        <div class="col s6">
                            <vacancy-skill [skills]="vacancy && vacancy.skills"
                                           [vacancy]="vacancy"
                                           title="Optional Skills"
                                           [isRequired]="false">
                            </vacancy-skill>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="input-field col s12">
                            <select materialize="material_select"
                                    [materializeSelectOptions]="educationTypes"
                                    id="educationType"
                                    name="educationType"
                                    [(ngModel)]="vacancy && vacancy.educationType">
                                <option value="" disabled selected>Please Select Type</option>
                                <option *ngFor="let option of educationTypes" [value]="option">{{option}}</option>
                            </select>
                            <label>Education Type</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input [(ngModel)]="vacancy && vacancy.salaryMin"
                                   id="salaryMin"
                                   name="salaryMin"
                                   type="text"
                                   [(ngModel)]="vacancy.salaryMin"
                                   autocomplete="off"
                                   maxlength="11">
                            <label for="salaryMin">Salary(min)</label>
                        </div>
                        <div class="input-field col s6">
                            <input [(ngModel)]="vacancy && vacancy.salaryMax"
                                   id="salaryMax"
                                   name="salaryMax"
                                   type="text"
                                   autocomplete="off"
                                   maxlength="11">
                            <label for="salaryMax">Salary(max)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div class="input-field ">
                                <input materialize="pickadate"
                                       [materializeParams]="[{selectMonths: true, selectYears: 150, min: today}]"
                                       id="openDate"
                                       name="openDate"
                                       type="text"
                                       [ngModel]="vacancy.openDate | date: 'd MMMM, y'"
                                       (ngModelChange)="changeOpenDate(openDate.value)"
                                       class="datepicker"
                                       #openDate="ngModel"
                                       required>
                                <label for="openDate">Open date</label>
                            </div>
                            <div *ngIf="openDate.errors?.required && (openDate.dirty || openDate.touched)">
                                <label class="action error-message">Open date required</label>
                            </div>
                        </div>
                        <div class="input-field col s6">
                            <input materialize="pickadate"
                                   [materializeParams]="[{selectMonths: true, selectYears: 150, min: today}]"
                                   id="closeDate"
                                   name="closeDate"
                                   type="text"
                                   [ngModel]="vacancy.closeDate | date: 'd MMMM, y'"
                                   (ngModelChange)="changeCloseDate(closeDate.value)"
                                   class="datepicker"
                                   #closeDate>
                            <label for="closeDate">Close date</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input [(ngModel)]="vacancy && vacancy.experienceMin"
                                   id="experienceMin"
                                   name="experienceMin"
                                   type="text"
                                   autocomplete="off"
                                   maxlength="2">
                            <label for="experienceMin">Work experience(min)</label>
                        </div>
                        <div class="input-field col s6">
                            <input [(ngModel)]="vacancy && vacancy.experienceMax"
                                   id="experienceMax"
                                   name="experienceMax"
                                   type="text"
                                   autocomplete="off"
                                   maxlength="2">
                            <label for="experienceMax">Work experience(max)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input [(ngModel)]="vacancy && vacancy.foreignLanguage"
                                   id="foreignLanguage"
                                   name="foreignLanguage"
                                   type="text"
                                   autocomplete="off"
                                   maxlength="20">
                            <label>Foreign language</label>
                        </div>
                        <div class="input-field col s6">
                            <select materialize="material_select"
                                    [(ngModel)]="vacancy && vacancy.languageLevel"
                                    [materializeSelectOptions]="languageLevels"
                                    id="languageLevel"
                                    class="select-dropdown"
                                    name="languageLevel">
                                <option *ngFor="let option of languageLevels" [value]="option">{{option}}</option>
                            </select>
                            <label>Language Level</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                                <input class="validate"
                                       materialize="autocomplete"
                                       [materializeParams]="[{'data': hrGroup}]"
                                       (ngModelChange)="changeHr(hr.value)"
                                       [ngModel]="vacancy.hr | fullName"
                                       type="text"
                                       id="hrGroup"
                                       name="hrGroup"
                                       autocomplete="off"
                                       #hr="ngModel"
                                       required>
                                <label for="hrGroup">Assigned HR</label>
                            </div>
                            <div *ngIf="hr.errors?.required && (hr.touched || hr.dirty)">
                                <label class="active error-message">Assigned HR field required</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                                <input class="validate"
                                       materialize="autocomplete"
                                       [materializeParams]="[{'data': dmGroup}]"
                                       (ngModelChange)="changeCreator(creator.value)"
                                       [ngModel]="vacancy.creator | fullName"
                                       type="text"
                                       id="dmGroup"
                                       name="dmGroup"
                                       autocomplete="off"
                                       #creator="ngModel"
                                       required>
                                <label for="dmGroup">Created by</label>
                            </div>
                            <div *ngIf="creator.errors?.required && (creator.touched || creator.dirty)">
                                <label class="active error-message">Creator field required</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <select materialize="material_select"
                                    [(ngModel)]="vacancy && vacancy.vacancyPriority"
                                    [materializeSelectOptions]="priorities"
                                    [attr.disabled]="isDisabled?true:null"
                                    id="priority"
                                    name="priority">
                                <option *ngFor="let option of priorities" [value]="option.name">{{option.value}}</option>
                            </select>
                            <label>Vacancy Priority</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea class="materialize-textarea"
                                      name="comment"
                                      id="comment"
                                      [(ngModel)]="vacancy && vacancy.comment"
                                      maxlength="500">
                            </textarea>
                            <label for="comment">Comment</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
