@import "../../../../public/css/color";

@function remy($value) {
  @return ($value / 16px) * 1rem;
}

:host {
  display: block;
}

.row {
  margin-bottom: 0;
}

.card .card-content .card-title {
  font-size: 20px;
  line-height: 40px;
}

.z-depth-1 {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
}

@mixin height($h) {
  .height-#{$h} {
    height: $h;
  }
}
@include height(150px);
@include height(200px);
@include height(300px);
@include height(500px);
@include height(1200px);


.navigation {
  position: fixed;
  top: 45%;
  right: 50px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 0;
  padding: 15px 0 20px 0;

  .cancel, .save {
    line-height: 40px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    font-weight: 900;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.2);
    background-color: transparent;
    width: 140px;
    margin: 10px;
    outline: none;
  }

  .save {
    &:hover {
      color: #009688;
      border-color: #009688;
    }
  }
  .cancel {
    &:hover {
      color: #607D8B;
      border-color: #607D8B;
    }
  }
}

.section-header {
  display: flex;

  .title {
    padding: 0 1.5rem;
    font-weight: 100;
    color: #37474F;
  }

  .action {
    margin-left: auto;
    padding-top: 7px;

    a {
      color: #607d8b;

      &.inconspicuous {
        color: #cfd8dc;
      }
    }
  }
}

.subtitle {
  text-align: center;
  font-weight: 100;
}

.card-header {
  display: flex;

  .action {
    margin-left: auto;

    .btn-flat {
      padding: 0 .5rem;
      color: #455A64;
    }

    .material-icons {
      &.success {
        color: map-deep-get($colors, green, 500);
      }
      &.danger {
        color: map-deep-get($colors, red, 500);
      }
    }
  }
}

.card-body {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.card-header + .card-body {
  margin-top: 20px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: #757575;

  &:hover {
    color: #212121;
  }
}

.work-experience {
  .input-field {
    input {
      font-size: 13px;
      margin-bottom: 0;
      height: 24px;
    }

    label {
      font-size: 13px;
      left: 0;

      &.active {
        font-size: 10px;
      }
    }

    textarea {
      font-size: 13px;
      //min-height: 130px;
      padding-bottom: 0;
      padding-top: 0;
      margin-bottom: 10px;
    }

    input, label, textarea {
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom: 1px solid #9e9e9e;
      }
    }
  }

  .chips {
    margin-bottom: 0;
    border-bottom: 1px solid transparent;
    padding-bottom: 0;

    &:hover {
      border-bottom: 1px solid #9e9e9e;
    }
  }
}

.personal-information {
  form {
    .input-field {
      input {
        font-size: remy(13px);
        height: 2rem;
      }

      label {
        top: 0.5rem;
        font-size: remy(13px);

        &.active {
          font-size: remy(12px);
        }

        &:after {
          top: 47px;
        }
      }
    }

    .checkbox-list {
      height: 120px;
      overflow: auto;
    }

    .row:last-child .input-field input {
      margin-bottom: 10px;
    }
  }
}

.default-access {
  //the same as contact table
  table.highlight {
    display: block;
    padding-bottom: 20px;

    thead tr {
      border-bottom: 1px solid #e0e0e0;
    }

    tr {
      th {
        font-size: 12px;
        font-weight: 500;
        padding: 6px 28px 6px 28px;
        height: 56px;
        cursor: pointer;

        i {
          font-size: 12px;
          margin-top: 3px;
          float: right;
        }
      }

      td {
        font-size: 13px;
        padding: 6px 28px 6px 28px;
        cursor: pointer;

        .material-icons {
          color: map-deep-get($colors, grey, 700);;
          vertical-align: middle;
        }
      }

      td:first-child, th:first-child {
        padding-left: 24px;
        padding-right: 0;
      }
    }
  }
}

[type="checkbox"].filled-in + label:after {
  height: 16px;
  width: 16px;
  border: 1px solid #607D8B;
  margin-top: 4px;
  border-radius: 1px;
}
[type="checkbox"].filled-in:checked + label:after {
  height: 16px;
  width: 16px;
  border: 2px solid #26a69a;
  background-color: #26a69a;
  margin-top: 4px;
  border-radius: 1px;
}
[type="checkbox"].filled-in:checked + label:before {
  top: 0;
  left: -1px;
  margin-top: 4px;
}

.picker__date-display {
  display: none !important;
}

.position-relative {
  position: relative;
}

.padding-bottom-0 {
  padding-bottom: 0;
}