<div class="user-edit container">
    <div class="section-header">
        <h5 class="title">Personal Information</h5>
    </div>
    <div #personalInformation class="personal-information">
        <div class="row">
            <div class="col s6">
                <div class="card z-depth-1" [@enterAnimation]="showPersonalInformation">
                    <div class="card-content">
                        <div class="card-header">
                            <span class="card-title">Personal</span>

                            <div class="action">
                                <a class="modal-trigger waves-effect btn-flat nopadding"
                                   (click)="toggleActiveUser()">
                                    <i class="material-icons success" *ngIf="user.active">done</i>
                                    <i class="material-icons danger" *ngIf="!user.active">block</i>
                                </a>
                            </div>
                        </div>

                        <form materialize [formGroup]="personalInfoForm" *ngIf="materialize()">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input class="validate"
                                           id="user-first-name"
                                           name="firstName"
                                           type="text"
                                           [(ngModel)]="user.firstName" formControlName="firstName">
                                    <label for="user-first-name"
                                           data-error="This field is required.">
                                        First Name
                                    </label>
                                </div>
                                <div class="input-field col s6">
                                    <input class="validate"
                                           id="user-last-name"
                                           name="lastName"
                                           type="text"
                                           [(ngModel)]="user.lastName" formControlName="lastName">
                                    <label for="user-last-name"
                                           data-error="This field is required.">
                                        Last Name
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input class="validate"
                                           id="user-username"
                                           name="username"
                                           type="text"
                                           [(ngModel)]="user.userName" formControlName="userName"
                                           [attr.disabled]="true">
                                    <label for="user-username">Username</label>
                                </div>
                                <div class="input-field col s6">
                                    <input class="validate"
                                           id="user-email"
                                           name="email"
                                           type="email"
                                           [(ngModel)]="user.email" formControlName="email">
                                    <label for="user-email"
                                           data-error="Please enter a valid email address.">
                                        Email
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col s3">
                <div class="card z-depth-1" [@enterAnimation]="showPersonalInformation">
                    <div class="card-content">
                        <div class="card-header">
                            <span class="card-title">Groups</span>
                        </div>

                        <form materialize>
                            <div class="checkbox-list">
                                <p class="" *ngFor="let g of groups">
                                    <input class="filled-in"
                                           [id]="'group-' + g.id"
                                           [name]="'group' + g.id"
                                           type="checkbox"
                                           [(ngModel)]="g.checked">
                                    <label [attr.for]="'group-' + g.id">{{g.name}}</label>
                                </p>
                            </div>
                        </form>
                    </div>

                    <div class="card-action" *ngIf="false">
                        <a href="#">Save</a>
                    </div>
                </div>
            </div>
            <div class="col s3">
                <div class="card z-depth-1" [@enterAnimation]="showPersonalInformation">
                    <div class="card-content">
                        <div class="card-header">
                            <span class="card-title">Roles</span>
                        </div>

                        <form materialize>
                            <div class="checkbox-list">
                                <p class="" *ngFor="let r of roles">
                                    <input class="filled-in"
                                           [id]="'role-' + r.id"
                                           [name]="'role' + r.id"
                                           type="checkbox"
                                           [(ngModel)]="r.checked">
                                    <label [attr.for]="'role-' + r.id">{{r.name}}</label>
                                </p>
                            </div>
                        </form>
                    </div>

                    <div class="card-action" *ngIf="false">
                        <a href="#">Save</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-header">
        <h5 class="title">Default Access</h5>
    </div>
    <div #defaultAccess class="default-access">
        <div class="row">
            <div class="col s12">
                <div class="card z-depth-1" [@enterAnimation]="showDefaultAccess">
                    <div class="card-content padding-bottom-0">
                        <div class="card-header">
                            <span class="card-title">Permissions</span>

                            <div class="action">
                                <a class="modal-trigger waves-effect btn-flat">
                                    <i class="material-icons">person_add</i>
                                </a>
                                <a class="modal-trigger waves-effect btn-flat">
                                    <i class="material-icons">group_add</i>
                                </a>
                            </div>
                        </div>

                        <!--should be the same as contact table without pagination-->
                        <div class="card-header" *ngIf="false">
                            <span class="card-title">{{countSelectedItems}} item(s) selected</span>

                            <div class="action">
                                <a class="modal-trigger waves-effect btn-flat">
                                    <i class="material-icons">delete</i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <table class="highlight">
                        <thead>
                        <tr>
                            <th style="width: 3%" (click)="togglePermissionsAll()">
                                <p>
                                    <input type="checkbox" class="filled-in" [checked]="isAllPermissionsChecked()">
                                    <label></label>
                                </p>
                            </th>
                            <th style="width: 47%">Name</th>
                            <th style="width: 10%" (click)="togglePermissions('canRead')">
                                Read
                                <i class="material-icons" *ngIf="isAllPermissionsSelected('canRead')">done_all</i>
                                <i class="material-icons" *ngIf="!isAllPermissionsSelected('canRead')">select_all</i>
                            </th>
                            <th style="width: 10%" (click)="togglePermissions('canWrite')">
                                Write
                                <i class="material-icons" *ngIf="isAllPermissionsSelected('canWrite')">done_all</i>
                                <i class="material-icons" *ngIf="!isAllPermissionsSelected('canWrite')">select_all</i>
                            </th>
                            <th style="width: 10%" (click)="togglePermissions('canCreate')">
                                Create
                                <i class="material-icons" *ngIf="isAllPermissionsSelected('canCreate')">done_all</i>
                                <i class="material-icons" *ngIf="!isAllPermissionsSelected('canCreate')">select_all</i>
                            </th>
                            <th style="width: 10%" (click)="togglePermissions('canDelete')">
                                Delete
                                <i class="material-icons" *ngIf="isAllPermissionsSelected('canDelete')">done_all</i>
                                <i class="material-icons" *ngIf="!isAllPermissionsSelected('canDelete')">select_all</i>
                            </th>
                            <th style="width: 10%" (click)="togglePermissions('canAdmin')">
                                Admin
                                <i class="material-icons" *ngIf="isAllPermissionsSelected('canAdmin')">done_all</i>
                                <i class="material-icons" *ngIf="!isAllPermissionsSelected('canAdmin')">select_all</i>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let acl of user.acls" [ngClass]="{selected: acl.selected}">
                            <td (click)="toggleSelection(acl)">
                                <p>
                                    <input type="checkbox" class="filled-in" [(ngModel)]="acl.selected">
                                    <label></label>
                                </p>
                            </td>
                            <td (click)="toggleSelection(acl)">
                                <i class="material-icons" *ngIf="acl.principalTypeName == 'user'">person</i>
                                <i class="material-icons" *ngIf="acl.principalTypeName == 'group'">group</i>
                                <span>{{acl.name}}</span>
                            </td>
                            <td>
                                <p>
                                    <input id="canRead-{{acl.id}}" type="checkbox" class="filled-in" [(ngModel)]="acl.canRead">
                                    <label for="canRead-{{acl.id}}"></label>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <input id="canWrite-{{acl.id}}" type="checkbox" class="filled-in" [(ngModel)]="acl.canWrite">
                                    <label for="canWrite-{{acl.id}}"></label>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <input id="canCreate-{{acl.id}}" type="checkbox" class="filled-in" [(ngModel)]="acl.canCreate">
                                    <label for="canCreate-{{acl.id}}"></label>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <input id="canDelete-{{acl.id}}" type="checkbox" class="filled-in" [(ngModel)]="acl.canDelete">
                                    <label for="canDelete-{{acl.id}}"></label>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <input id="canAdmin-{{acl.id}}" type="checkbox" class="filled-in" [(ngModel)]="acl.canAdmin">
                                    <label for="canAdmin-{{acl.id}}"></label>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="buttons">
        <button class="cancel" (click)="router.navigate(['users.list'])">
            <span>CANCEL</span>
        </button>
        <button class="save" (click)="save()" [disabled]="!personalInfoForm.valid">
            <span>SAVE</span>
        </button>
    </div>
</div>