<card>
    <form materialize [formGroup]="contactGeneralInfoForm">
        <div class="card-content">
            <div class="card-header">
                <span class="card-title">{{properties[0].card}}</span>

                <div class="action">
                    <form enctype="multipart/form-data">
                        <a class="file-field waves-effect btn-flat">
                            <i class="material-icons">insert_photo</i>
                            <input type="file" ng2FileSelect [uploader]="uploader" (change)="uploadFile()"
                                   (contact.photoUrl)="value" accept=".png">
                        </a>
                    </form>
                </div>
            </div>

            <div class="card-body row">
                <div class="col s4">
                    <div class="card-image">
                        <img #imageID
                             [src]="getContactPhotoUrl() ? getContactPhotoUrl() : 'assets/images/default-avatar.png'">
                    </div>
                </div>

                <div class="col s8">
                    <div>
                        <div *ngFor="let field of properties[0].fields">
                            <div class="input-field col s6" *ngIf="isTextType(field.type)">
                                <input class="validate"
                                       type="text"
                                       [(ngModel)]="contact[field.field]"
                                       [id]="field.field"
                                       [formControlName]="field.field"
                                       (click)="isShowSave()">
                                <label [for]="field.field"
                                       data-error="This field is required.">
                                    {{field.name}}
                                </label>
                            </div>
                        </div>
                        <div class="input-field col s6">
                            <input materialize="pickadate"
                                   [materializeParams]="[{selectMonths: true, selectYears: 150}]"
                                   class="datepicker"
                                   id="contact-date-of-birth"
                                   type="text"
                                   formControlName="dateOfBirth"
                                   [ngModel]="contact.dateOfBirth | date: 'd MMMM, y'"
                                   (ngModelChange)="onDateOfBirthChange($event)"
                                   (click)="isShowSave()">
                            <label for="contact-date-of-birth">
                                Date of birth
                            </label>
                        </div>
                        <div class="input-field col s6">
                            <div *ngFor="let g of genders">
                                <input
                                        [attr.id]="g.name"
                                        formControlName="g"
                                        [value]="g.value"
                                        type="radio"
                                        [(ngModel)]="contact.isMale"
                                        (click)="isShowSave()">
                                <label [attr.for]="g.name">
                                    {{g.name}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-action" [@toggle]="any"
             *ngIf="contact.id && properties[0].showSave">
            <a (click)="saveGeneralInfo()">Save</a>
        </div>
    </form>
</card>
