.crm-chart-container {
    width: 100%;
    height: 100%;
    padding: 2px;
    margin: 5px;
    overflow: hidden;
}
.glyphicon.pointer-cursor:hover {
    cursor: pointer;
}

crm-chart-wrapper .panel .panel-heading {
    cursor: -webkit-grab;
    cursor: grab;
}

.gridster-item .panel {
    height: 100%;
}

.crm-dashboard-cog {
    font-size: 27px;
    cursor: pointer;
}

.crm-dashboard-period {
    font-weight: bold;
    margin-bottom: 15px;
    margin-right: 15px;
}
