<table class="table table-condensed crm-table-fixed">
    <thead>
    <tr>
        <th class="col-md-2 col-sm-4 col-xs-4">Full name</th>
        <th class="col-md-2 col-sm-2 col-xs-2">Email</th>
        <th class="col-sm-4 col-xs-6">Address</th>
    </tr>
    </thead>
    <tbody>
    <tr class="crm-hover crm-students-table-row-height">
        <td>Strugov Sergei</td>
        <td>strugov.sergei@gmail.com</td>
        <td>Avenue F. Skaryna 9, bat. 3, app. 7, 220050 MINSK, REPUBLIC OF BELARUS</td>
    </tr>
    </tbody>
</table>
