<div>
    <table class="table table-condensed crm-table-fixed">
        <thead>
        <tr>
            <th class="col-md-2 col-sm-4 col-xs-4">
                Position
            </th>
            <th class="col-md-1 col-sm-2 col-xs-2">
                Date opened
            </th>
            <th class="col-sm-4 col-xs-6">
                Created by
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="crm-hover crm-students-table-row-height"
            ng-repeat="vacancy in vm.searchOpenVacancyBundle.itemsList">
            <td ><a href="" ng-click="vm.editVacancy(vacancy)">{{vacancy.positionName}}</a></td>
            <td>{{vacancy.openDate | date : 'yyyy-MM-dd'}}</td>
            <td>{{vacancy.creator.firstName + ' ' + vacancy.creator.lastName}}</td>
        </tr>
        </tbody>
    </table>
    <div class="crm-text-center" ng-show="vm.searchOpenVacancyBundle.paging.totalCount > vm.searchOpenVacancyBundle.paging.itemsPerPage">
        <uib-pagination class="pagination-sm" ng-change="vm.searchOpenVacancyBundle.paging.onPageChanged(vm)"
                        ng-model="vm.searchOpenVacancyBundle.paging.currentPage"
                        total-items="vm.searchOpenVacancyBundle.paging.totalCount"
                        items-per-page="vm.searchOpenVacancyBundle.paging.itemsPerPage"
                        max-size="vm.searchOpenVacancyBundle.paging.visiblePages"
                        boundary-link-numbers="true" rotate="false">
        </uib-pagination>
    </div>
</div>
