<div>
    <table class="table table-condensed crm-table-fixed">
        <thead>
        <tr>
            <th class="crm-hover col-md-2 col-sm-4 col-xs-4" ng-click="vm.searchStudentBundle.sortBy(vm.searchStudentBundle.sortProperties.firstName, vm)">
                        <span class="glyphicon" ng-show="vm.searchStudentBundle.sortProperties.firstName.enabled"
                              ng-class="vm.searchStudentBundle.sortProperties.firstName.asc ? 'glyphicon-sort-by-attributes' : 'glyphicon-sort-by-attributes-alt' ">

                        </span>
                Full name</th>
            <th class="crm-hover col-md-2 col-sm-2 col-xs-2">Email</th>
            <th class="crm-hover col-sm-4 col-xs-6">Address</th>
            <th class="crm-hover col-sm-1 col-xs-1"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="crm-hover crm-students-table-row-height"
            ng-repeat="student in vm.searchStudentBundle.itemsList">
            <td ng-click="vm.editStudent(student)">{{student.firstName + ' ' + student.lastName}}</td>
            <td>{{student.emails.length > 0 ? student.emails[0].name :''}}</td>
            <td class="hidden-xs">{{student.addresses.length > 0 ? student.addresses[0].addressLine : ''}}</td>
            <td >
                <div class="btn-group pull-right" uib-dropdown dropdown-append-to-body>
                    <span id="btn-append-to-body" class="glyphicon glyphicon-align-justify" aria-hidden="true" uib-dropdown-toggle></span>
                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                        <li role="menuitem"><a ng-click="vm.addComment(student)">Add comment</a></li>
                        <li role="menuitem"><a ng-click="vm.viewComments(student)">View comments</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="crm-text-center" ng-show="vm.searchStudentBundle.paging.totalCount > vm.searchStudentBundle.paging.itemsPerPage">
        <uib-pagination class="pagination-sm" ng-change="vm.searchStudentBundle.paging.onPageChanged(vm)"
                        ng-model="vm.searchStudentBundle.paging.currentPage"
                        total-items="vm.searchStudentBundle.paging.totalCount"
                        items-per-page="vm.searchStudentBundle.paging.itemsPerPage"
                        max-size="vm.searchStudentBundle.paging.visiblePages"
                        boundary-link-numbers="true" rotate="false">
        </uib-pagination>
    </div>
</div>
