<div class="user-edit container" *ngIf="materialize()">
    <div class="section-header">
        <h5 class="title">{{task.id ? 'Edit task': 'New task'}}</h5>
    </div>
    <form materialize [formGroup]="taskForm">
        <div class="row">
            <div class="col s6">
                <card>
                    <div class="card-content">
                        <div class="card-header">
                            <div class="card-title">General information</div>
                        </div>
                        <div class="card-body">
                            <div class="row" formGroupName="inputGroup">
                                <div class="input-field col s12">
                                    <input class="validate"
                                           id="name"
                                           name="name"
                                           type="text"
                                           [(ngModel)]="task.name" formControlName="name">
                                    <label for="name"
                                           data-error="This field is required.">
                                        Name
                                    </label>
                                </div>
                                <div class="input-field col s12">
                                    <input class="validate"
                                           id="location"
                                           name="location"
                                           type="text"
                                           [(ngModel)]="task.location" formControlName="location">
                                    <label for="location"
                                           data-error="This field is required.">
                                        Location
                                    </label>
                                </div>
                            </div>
                            <div class="row" formGroupName="inputGroup">
                                <div class="col s6">
                                    <input [checked]="isTimeless" (change)="isTimeless = !isTimeless" type="checkbox"
                                           id="timeless-checkbox">
                                    <label for="timeless-checkbox">Timeless</label>
                                </div>
                            </div>
                            <div class="row" *ngIf="!isTimeless" formGroupName="dateGroup">
                                <div class="input-field col s6">
                                    <input ngui-datetime-picker [(ngModel)]="startDate" id="start-date"
                                           [close-on-select]="false" formControlName="startDate"/>
                                    <label for="start-date" class="active">
                                        Start date
                                    </label>
                                </div>
                                <div class="input-field col s6">
                                    <input ngui-datetime-picker [(ngModel)]="endDate" id="end-date"
                                           [close-on-select]="false" formControlName="endDate"/>
                                    <label for="end-date" class="active">
                                        End date
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </card>
            </div>
            <div class="col s6">
                <card formGroupName="inputGroup">
                    <div class="card-content">
                        <div class="card-header">
                            <div class="card-title">Options</div>
                        </div>
                        <div class="row card-body">
                            <div class="input-field col s6">
                                <label class="active" for="status">Status</label>
                                <select id="status" materialize="material_select" formControlName="status"
                                        [materializeSelectOptions]="statuses" [(ngModel)]="task.status.id">
                                    <option [ngValue]="" disabled>Select status</option>
                                    <option *ngFor="let option of statuses" [value]="option.id">{{option.name}}</option>
                                </select>
                            </div>
                            <div class="input-field col s6">
                                <label class="active" for="priority">Priority</label>
                                <select id="priority" materialize="material_select" formControlName="priority"
                                        [materializeSelectOptions]="priorities" [(ngModel)]="task.priority.id">
                                    <option [ngValue]="" disabled>Select priority</option>
                                    <option *ngFor="let option of priorities" [value]="option.id">{{option.name}}</option>
                                </select>
                            </div>
                            <div class="input-field col s12">
                                <label class="active" for="assignee">Assignee</label>
                                <select id="assignee" materialize="material_select" formControlName="assignee"
                                        [materializeSelectOptions]="publicUsers" [(ngModel)]="task.assignee.id">
                                    <option [ngValue]="" disabled>Select assignee</option>
                                    <option *ngFor="let option of publicUsers" [value]="option.id">{{option.firstName}} {{option.lastName}} ({{option.userName}})
                                    </option>
                                </select>
                            </div>
                            <div class="input-field col s12">
                                <textarea
                                        class="materialize-textarea"
                                        id="description"
                                        name="description"
                                        [(ngModel)]="task.description"
                                        placeholder="Description" formControlName="description"
                                ></textarea>
                            </div>
                        </div>
                    </div>
                </card>
            </div>
            <div class="preloader-wrapper center-align" [ngClass]="{active: showSpinner}">
                <div class="spinner-layer" [ngClass]="colorClass">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col s12">
            <card>
                <div class="card-content padding-bottom-0">
                    <div class="card-header">
                        <span class="card-title">Contacts</span>

                        <div class="action">
                            <a class="modal-trigger waves-effect btn-flat" *ngIf="!isAnyChecked(task.contacts)"
                               (click)="contactsModalActions.emit({action:'modal', params:['open']})">
                                <i class="material-icons">person_add</i>
                            </a>
                            <a class="modal-trigger waves-effect btn-flat" *ngIf="isAnyChecked(task.contacts)"
                               (click)="deleteContacts()">
                                <i class="material-icons">delete</i>
                            </a>
                        </div>
                    </div>
                    <div class="card-table">
                        <table class="highlight">
                            <thead>
                            <tr>
                                <th style="width: 3%" (click)="toggleAll(task.contacts)">
                                    <p>
                                        <input type="checkbox" class="filled-in sm" [checked]="isAllChecked(task.contacts)">
                                        <label></label>
                                    </p>
                                </th>
                                <th style="width: 33%">Full name</th>
                                <th style="width: 30%">Email</th>
                                <th style="width: 34%">Telephone</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let option of task.contacts" [ngClass]="{selected: option.selected}"
                                (click)="toggleSelection(option)">
                                <td>
                                    <p>
                                        <input type="checkbox" class="filled-in sm" [(ngModel)]="option.selected">
                                        <label></label>
                                    </p>
                                </td>
                                <td>
                                    <span>{{option.firstName}} {{option.lastName}}</span>
                                </td>
                                <td>
                                    <span>{{option.emails[0]?.name}}</span>
                                </td>
                                <td>
                                    <span>{{option.telephones[0]?.number}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </card>
        </div>
    </div>
    <div class="modal modal-fixed-footer" materialize="modal" id="add-contacts"
         [materializeActions]="contactsModalActions" [materializeParams]="[{dismissible: false}]">
        <contacts-modal [contactsInput]="task.contacts" [modalActions]="contactsModalActions"></contacts-modal>
    </div>
    <div class="row">
        <div class="col s12">
            <card>
                <div class="card-content padding-bottom-0">
                    <div class="card-header">
                        <span class="card-title">Companies</span>
                        <div class="action">
                            <a class="modal-trigger waves-effect btn-flat" *ngIf="!isAnyChecked(task.companies)"
                               (click)="companiesModalActions.emit({action:'modal', params:['open']})">
                                <i class="material-icons">group_add</i>
                            </a>
                            <a class="modal-trigger waves-effect btn-flat" *ngIf="isAnyChecked(task.companies)"
                               (click)="deleteCompanies()">
                                <i class="material-icons">delete</i>
                            </a>
                        </div>
                    </div>
                    <div class="card-table">
                        <table>
                            <thead>
                            <tr>
                                <th style="width: 3%" (click)="toggleAll(task.companies)">
                                    <p>
                                        <input type="checkbox" class="filled-in sm" [checked]="isAllChecked(task.companies)">
                                        <label></label>
                                    </p>
                                </th>
                                <th style="width: 33%">Name</th>
                                <th style="width: 64%">Number of employees</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let option of task.companies" [ngClass]="{selected: option.selected}"
                                (click)="toggleSelection(option)">
                                <td>
                                    <p>
                                        <input type="checkbox" class="filled-in sm" [(ngModel)]="option.selected">
                                        <label></label>
                                    </p>
                                </td>
                                <td>
                                    <span>{{option.name}}</span>
                                </td>
                                <td>
                                    <span>{{option.employeeNumberCategory && option.employeeNumberCategory.description || ''}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </card>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <card>
                <div class="card-content padding-bottom-0">
                    <div class="card-header">
                        <span class="card-title">Permissions</span>

                        <div class="action">
                            <a class="modal-trigger waves-effect btn-flat">
                                <i class="material-icons">person_add</i>
                            </a>
                            <a class="modal-trigger waves-effect btn-flat">
                                <i class="material-icons">group_add</i>
                            </a>
                        </div>
                    </div>

                    <!--should be the same as contact table without pagination-->
                    <div class="card-header" *ngIf="false">
                        <span class="card-title">{{countSelectedItems}} item(s) selected</span>

                        <div class="action">
                            <a class="modal-trigger waves-effect btn-flat">
                                <i class="material-icons">delete</i>
                            </a>
                        </div>
                    </div>

                    <div class="card-table">
                        <table class="highlight">
                            <thead>
                            <tr>
                                <th style="width: 3%" (click)="toggleAll(acls)">
                                    <p>
                                        <input type="checkbox" class="filled-in sm" [checked]="isAllChecked(acls)">
                                        <label></label>
                                    </p>
                                </th>
                                <th style="width: 47%">Name</th>
                                <th style="width: 10%" (click)="togglePermissions('canRead')">
                                    Read
                                    <i class="material-icons" *ngIf="isAllPermissionsSelected('canRead')">done_all</i>
                                    <i class="material-icons" *ngIf="!isAllPermissionsSelected('canRead')">select_all</i>
                                </th>
                                <th style="width: 10%" (click)="togglePermissions('canWrite')">
                                    Write
                                    <i class="material-icons" *ngIf="isAllPermissionsSelected('canWrite')">done_all</i>
                                    <i class="material-icons" *ngIf="!isAllPermissionsSelected('canWrite')">select_all</i>
                                </th>
                                <th style="width: 10%" (click)="togglePermissions('canCreate')">
                                    Create
                                    <i class="material-icons" *ngIf="isAllPermissionsSelected('canCreate')">done_all</i>
                                    <i class="material-icons" *ngIf="!isAllPermissionsSelected('canCreate')">select_all</i>
                                </th>
                                <th style="width: 10%" (click)="togglePermissions('canDelete')">
                                    Delete
                                    <i class="material-icons" *ngIf="isAllPermissionsSelected('canDelete')">done_all</i>
                                    <i class="material-icons" *ngIf="!isAllPermissionsSelected('canDelete')">select_all</i>
                                </th>
                                <th style="width: 10%" (click)="togglePermissions('canAdmin')">
                                    Admin
                                    <i class="material-icons" *ngIf="isAllPermissionsSelected('canAdmin')">done_all</i>
                                    <i class="material-icons" *ngIf="!isAllPermissionsSelected('canAdmin')">select_all</i>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let acl of acls" [ngClass]="{selected: acl.selected}">
                                <td (click)="toggleSelection(acl)">
                                    <p>
                                        <input type="checkbox" class="filled-in sm" [(ngModel)]="acl.selected">
                                        <label></label>
                                    </p>
                                </td>
                                <td (click)="toggleSelection(acl)">
                                    <i class="material-icons" *ngIf="acl.principalTypeName == 'user'">person</i>
                                    <i class="material-icons" *ngIf="acl.principalTypeName == 'group'">group</i>
                                    <span>{{acl.name}}</span>
                                </td>
                                <td>
                                    <p>
                                        <input id="canRead-{{acl.id}}" type="checkbox" class="filled-in"
                                               [(ngModel)]="acl.canRead">
                                        <label for="canRead-{{acl.id}}"></label>
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        <input id="canWrite-{{acl.id}}" type="checkbox" class="filled-in"
                                               [(ngModel)]="acl.canWrite">
                                        <label for="canWrite-{{acl.id}}"></label>
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        <input id="canCreate-{{acl.id}}" type="checkbox" class="filled-in"
                                               [(ngModel)]="acl.canCreate">
                                        <label for="canCreate-{{acl.id}}"></label>
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        <input id="canDelete-{{acl.id}}" type="checkbox" class="filled-in"
                                               [(ngModel)]="acl.canDelete">
                                        <label for="canDelete-{{acl.id}}"></label>
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        <input id="canAdmin-{{acl.id}}" type="checkbox" class="filled-in"
                                               [(ngModel)]="acl.canAdmin">
                                        <label for="canAdmin-{{acl.id}}"></label>
                                    </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </card>
        </div>
    </div>

    <div class="buttons">
        <button class="cancel" (click)="router.navigate(['tasks.list'])">
            <span>CANCEL</span>
        </button>
        <button class="save" (click)="save()" [disabled]="!taskForm.controls.inputGroup.valid || (!isTimeless && !taskForm.controls.dateGroup.valid)">
            <span>SAVE</span>
        </button>
    </div>
</div>
<div class="modal modal-fixed-footer" materialize="modal" id="add-companies"
     [materializeActions]="companiesModalActions" [materializeParams]="[{dismissible: true}]">
    <companies-modal [companiesInput]="task.companies" [modalActions]="companiesModalActions"></companies-modal>
</div>