<card [show]="showCard">
    <div class="card-content">
        <div class="card-header">
            <span class="card-title">Skills</span>

            <div class="action">
                <a class="waves-effect btn-flat" *ngIf="!(isData() || removed.length)" (click)="removeCard.emit(8)">
                    <i class="material-icons">clear</i>
                </a>
            </div>
        </div>

        <div class="card-body">
            <div class="chips chips-initial"
                 materialize="material_chip"
                 [materializeParams]="[skills]"
                 (chip.add)="addSkill($event.detail)"
                 (chip.delete)="deleteSkill($event.detail)"></div>
        </div>
    </div>

    <div class="card-action" [@toggle]="any"
         *ngIf="contact.id && (isAnyNew() || removed.length)">
        <a (click)="save()">Save</a>
    </div>
</card>