@import "../../../../public/css/color";

:host {
  display: block;
  flex: 1 1 0;
  font: 13px "Open Sans", "Roboto", arial, sans-serif;
}

a.write-email {
  color: rgba(0, 0, 0, 0.87);

  &:hover {
    color: map-deep-get($colors, light-blue, 900);
    text-decoration: underline;
  }
}
